---
page_title: "Ogo Provider"
description: |-
  The Ogo provider can be used to manage configuration present in Ogo Security Dashboard
---

# {{ .ProviderShortName | upper }} Provider

## Description

The "ogo" provider allows to manage Site and TLS options in Ogo Security Dashboard

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
